In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
%cd /content/gdrive/My Drive/datasets/

/content/gdrive/My Drive/datasets

# Question 1
Consider the following Dataset containing information regarding alcohol consumption in different countries. An analyst performs different operations to carry out certain tasks to help the analyst in performing the task.
 Which continent drinks more Wine on average? [2 marks]
 For each continent print the statistics for Beer consumption.  [2 mark]
  Print the median alcohol consumption per continent for every column. [1 marks]

In [ ]:
import numpy as np
import pandas as pd
#import statistics
df = pd.read_csv('drinks.csv')
df.continent = df.continent.fillna('NA')
data= df.values

In [ ]:
df

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]

In [ ]:
def dict_to_pd(coln):
  dic = {}
  for c in cont:
    dic[c] = []
  m = df.shape[0]
  for i in range(m):
    for c in cont:
      if c == df['continent'][i]:
        dic[c].append(df[coln][i])
  dat=pd.DataFrame.from_dict(dic,orient='index').transpose()
  return dic,dat

In [ ]:
#Which continent drinks more Wine on average? 
d_mean = {}
cont = df.continent.unique()
cont = cont.tolist()
d,df0 = dict_to_pd('wine_servings')
for c in cont:
  d_mean[c] = sum(d[c])/len(d[c])
max_cont = max(d_mean, key=d_mean.get)
print(d)
print(d_mean)
print(max_cont)

{'AS': [0, 7, 0, 0, 1, 1, 8, 0, 0, 0, 0, 0, 9, 16, 1, 12, 0, 6, 123, 31, 0, 0, 8, 0, 0, 1, 0, 1, 7, 9, 73, 0, 11, 0, 16, 0, 1, 4, 7, 32, 5, 8, 1, 0], 'EU': [54, 312, 11, 191, 5, 42, 212, 8, 94, 254, 113, 134, 278, 59, 97, 370, 149, 175, 218, 185, 78, 165, 237, 62, 56, 271, 120, 0, 128, 190, 129, 56, 339, 18, 167, 0, 127, 116, 276, 112, 186, 280, 86, 45, 195], 'AF': [14, 45, 13, 35, 7, 0, 7, 16, 4, 1, 1, 1, 9, 1, 3, 1, 233, 0, 0, 59, 1, 10, 2, 21, 2, 0, 2, 0, 4, 1, 1, 0, 18, 10, 5, 1, 1, 2, 0, 140, 7, 51, 2, 0, 81, 0, 2, 19, 20, 0, 1, 4, 4], 'NA': [45, 51, 36, 8, 100, 11, 5, 26, 9, 2, 28, 2, 1, 2, 9, 5, 1, 18, 32, 71, 11, 7, 84], 'SA': [221, 8, 16, 172, 3, 3, 1, 74, 21, 7, 220, 3], 'OC': [212, 74, 1, 1, 0, 18, 8, 175, 7, 23, 1, 24, 1, 5, 9, 11]}
{'AS': 9.068181818181818, 'EU': 142.22222222222223, 'AF': 16.264150943396228, 'NA': 24.52173913043478, 'SA': 62.416666666666664, 'OC': 35.625}
EU

In [ ]:
#For each continent print the statistics for Beer consumption.
d1, df1 = dict_to_pd('beer_servings')
df1.describe()

               AS          EU          AF          NA          SA          OC
count   44.000000   45.000000   53.000000   23.000000   12.000000   16.000000
mean    37.045455  193.777778   61.471698  145.434783  175.083333   89.687500
std     49.469725   99.631569   80.557816   79.621163   65.242845   96.641412
min      0.000000    0.000000    0.000000    1.000000   93.000000    0.000000
25%      4.250000  127.000000   15.000000   80.000000  129.500000   21.000000
50%     17.500000  219.000000   32.000000  143.000000  162.500000   52.500000
75%     60.500000  270.000000   76.000000  198.000000  198.000000  125.750000
max    247.000000  361.000000  376.000000  285.000000  333.000000  306.000000

In [ ]:
d2, df2 = dict_to_pd('spirit_servings') 
#Print the median alcohol consumption per continent for every column.
df0.median() #wine

AS      1.0
EU    128.0
AF      2.0
NA     11.0
SA     12.0
OC      8.5
dtype: float64

In [ ]:
df1.median() #beer

AS     17.5
EU    219.0
AF     32.0
NA    143.0
SA    162.5
OC     52.5
dtype: float64

In [ ]:
df2.median() #spirit

AS     16.0
EU    122.0
AF      3.0
NA    137.0
SA    108.5
OC     37.0
dtype: float64

# Question 2
Consider a Euro 2012 football tournament.


Football analysts decide certain criteria in order to decide which team has a good chance to win this cup. Your task is to help those analysts by performing some tasks given below.
 Find the teams who are participating in this tournament. [1 marks]
 Find the shooting accuracy of all the teams that have scored more than 5 goals. [1 marks]
 Find the total number of goals scored in the tournament. [1 marks]
 Sort the teams on the basis of goals scored(non-ascending order) [1 marks]
 Find the team with the most number of red cards. [1 marks]

In [ ]:
import numpy as np
import pandas as pd
#import statistics
data = pd.read_csv('Euro_2012_stats_TEAM.csv')

In [ ]:
data

                   Team  Goals  ...  Subs off  Players Used
0               Croatia      4  ...         9            16
1        Czech Republic      4  ...        11            19
2               Denmark      4  ...         7            15
3               England      5  ...        11            16
4                France      3  ...        11            19
5               Germany     10  ...        15            17
6                Greece      5  ...        12            20
7                 Italy      6  ...        18            19
8           Netherlands      2  ...         7            15
9                Poland      2  ...         7            17
10             Portugal      6  ...        14            16
11  Republic of Ireland      1  ...        10            17
12               Russia      5  ...         7            16
13                Spain     12  ...        17            18
14               Sweden      5  ...         9            18
15              Ukraine      2  ...         9            18

[16 rows x 35 columns]

In [ ]:
#Find the teams who are participating in this tournament.
data['Team']

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

In [ ]:
 #Find the shooting accuracy of all the teams that have scored more than 5 goals. 
d = {}
m = data.shape[0]
for i in range(m):
  if int(data['Goals'][i]) > 5:
    d[data['Team'][i]] = data['Shooting Accuracy'][i]

In [ ]:
d

{'Germany': '47.8%', 'Italy': '43.0%', 'Portugal': '34.3%', 'Spain': '55.9%'}

In [ ]:
# Find the total number of goals scored in the tournament.
data['Goals'].sum()

76

In [ ]:
#Sort the teams on the basis of goals scored(non-ascending order)
data.sort_values(by=['Goals'], ascending = False)

                   Team  Goals  ...  Subs off  Players Used
13                Spain     12  ...        17            18
5               Germany     10  ...        15            17
7                 Italy      6  ...        18            19
10             Portugal      6  ...        14            16
3               England      5  ...        11            16
6                Greece      5  ...        12            20
12               Russia      5  ...         7            16
14               Sweden      5  ...         9            18
0               Croatia      4  ...         9            16
1        Czech Republic      4  ...        11            19
2               Denmark      4  ...         7            15
4                France      3  ...        11            19
8           Netherlands      2  ...         7            15
9                Poland      2  ...         7            17
15              Ukraine      2  ...         9            18
11  Republic of Ireland      1  ...        10            17

[16 rows x 35 columns]

In [ ]:
#Find the team with the most number of red cards. 
rc = data['Red Cards'].max()
for i in range(m):
  if data['Red Cards'][i] == rc:
    print(data['Team'][i])
print(rc)

Greece
Poland
Republic of Ireland
1

# Question 3
Consider the given breast cancer dataset from the given google drive link, the last column has the target variable (2 classes: "B" for benign and "M" for malignant) and the remaining columns have the features.

Implement the decision tree algorithm from scratch. You can use the Gini index to decide on the splitting attribute on the breast cancer dataset. Make use of only NumPy, pandas. Calculate the accuracy of the decision tree. [10 marks]

In [ ]:
import numpy as np
import pandas as pd
#import statistics
df2 = pd.read_csv('wdbc1.csv')
df2 = df2.iloc[: , :-1]

In [ ]:
df2

           id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0      842302         M  ...          0.4601                  0.11890
1      842517         M  ...          0.2750                  0.08902
2    84300903         M  ...          0.3613                  0.08758
3    84348301         M  ...          0.6638                  0.17300
4    84358402         M  ...          0.2364                  0.07678
..        ...       ...  ...             ...                      ...
564    926424         M  ...          0.2060                  0.07115
565    926682         M  ...          0.2572                  0.06637
566    926954         M  ...          0.2218                  0.07820
567    927241         M  ...          0.4087                  0.12400
568     92751         B  ...          0.2871                  0.07039

[569 rows x 32 columns]

In [ ]:
class Node():
    def __init__(self, feature_index=None, threshold=None, left=None, right=None, info_gain=None, value=None):
        ''' constructor ''' 
        
        # for decision node
        self.feature_index = feature_index
        self.threshold = threshold
        self.left = left
        self.right = right
        self.info_gain = info_gain
        
        # for leaf node
        self.value = value

In [ ]:
class DecisionTreeClassifier():
    def __init__(self, min_samples_split=2, max_depth=2):
        ''' constructor '''
        
        # initialize the root of the tree 
        self.root = None
        
        # stopping conditions
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
        
    def build_tree(self, dataset, curr_depth=0):
        ''' recursive function to build the tree ''' 
        
        X, Y = dataset[:,:-1], dataset[:,-1]
        num_samples, num_features = np.shape(X)
        
        # split until stopping conditions are met
        if num_samples>=self.min_samples_split and curr_depth<=self.max_depth:
            # find the best split
            best_split = self.get_best_split(dataset, num_samples, num_features)
            # check if information gain is positive
            if best_split["info_gain"]>0:
                # recur left
                left_subtree = self.build_tree(best_split["dataset_left"], curr_depth+1)
                # recur right
                right_subtree = self.build_tree(best_split["dataset_right"], curr_depth+1)
                # return decision node
                return Node(best_split["feature_index"], best_split["threshold"], 
                            left_subtree, right_subtree, best_split["info_gain"])
        
        # compute leaf node
        leaf_value = self.calculate_leaf_value(Y)
        # return leaf node
        return Node(value=leaf_value)
    
    def get_best_split(self, dataset, num_samples, num_features):
        ''' function to find the best split '''
        
        # dictionary to store the best split
        best_split = {}
        max_info_gain = -float("inf")
        
        # loop over all the features
        for feature_index in range(num_features):
            feature_values = dataset[:, feature_index]
            possible_thresholds = np.unique(feature_values)
            # loop over all the feature values present in the data
            for threshold in possible_thresholds:
                # get current split
                dataset_left, dataset_right = self.split(dataset, feature_index, threshold)
                # check if childs are not null
                if len(dataset_left)>0 and len(dataset_right)>0:
                    y, left_y, right_y = dataset[:, -1], dataset_left[:, -1], dataset_right[:, -1]
                    # compute information gain
                    curr_info_gain = self.information_gain(y, left_y, right_y, "gini")
                    # update the best split if needed
                    if curr_info_gain>max_info_gain:
                        best_split["feature_index"] = feature_index
                        best_split["threshold"] = threshold
                        best_split["dataset_left"] = dataset_left
                        best_split["dataset_right"] = dataset_right
                        best_split["info_gain"] = curr_info_gain
                        max_info_gain = curr_info_gain
                        
        # return best split
        return best_split
    
    def split(self, dataset, feature_index, threshold):
        ''' function to split the data '''
        
        dataset_left = np.array([row for row in dataset if row[feature_index]<=threshold])
        dataset_right = np.array([row for row in dataset if row[feature_index]>threshold])
        return dataset_left, dataset_right
    
    def information_gain(self, parent, l_child, r_child, mode="entropy"):
        ''' function to compute information gain '''
        
        weight_l = len(l_child) / len(parent)
        weight_r = len(r_child) / len(parent)
        if mode=="gini":
            gain = self.gini_index(parent) - (weight_l*self.gini_index(l_child) + weight_r*self.gini_index(r_child))
        else:
            gain = self.entropy(parent) - (weight_l*self.entropy(l_child) + weight_r*self.entropy(r_child))
        return gain
    
    def entropy(self, y):
        ''' function to compute entropy '''
        
        class_labels = np.unique(y)
        entropy = 0
        for cls in class_labels:
            p_cls = len(y[y == cls]) / len(y)
            entropy += -p_cls * np.log2(p_cls)
        return entropy
    
    def gini_index(self, y):
        ''' function to compute gini index '''
        
        class_labels = np.unique(y)
        gini = 0
        for cls in class_labels:
            p_cls = len(y[y == cls]) / len(y)
            gini += p_cls**2
        return 1 - gini
        
    def calculate_leaf_value(self, Y):
        ''' function to compute leaf node '''
        
        Y = list(Y)
        return max(Y, key=Y.count)
    
    def print_tree(self, tree=None, indent=" "):
        ''' function to print the tree '''
        
        if not tree:
            tree = self.root

        if tree.value is not None:
            print(tree.value)

        else:
            print("X_"+str(tree.feature_index), "<=", tree.threshold, "?", tree.info_gain)
            print("%sleft:" % (indent), end="")
            self.print_tree(tree.left, indent + indent)
            print("%sright:" % (indent), end="")
            self.print_tree(tree.right, indent + indent)
    
    def fit(self, X, Y):
        ''' function to train the tree '''
        
        dataset = np.concatenate((X, Y), axis=1)
        self.root = self.build_tree(dataset)
    
    def predict(self, X):
        ''' function to predict new dataset '''
        
        preditions = [self.make_prediction(x, self.root) for x in X]
        return preditions
    
    def make_prediction(self, x, tree):
        ''' function to predict a single data point '''
        
        if tree.value!=None: return tree.value
        feature_val = x[tree.feature_index]
        if feature_val<=tree.threshold:
            return self.make_prediction(x, tree.left)
        else:
            return self.make_prediction(x, tree.right)

In [ ]:
X = df2.iloc[:, 2:].values
Y = df2.iloc[:, 1].values.reshape(-1,1)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=41)

In [ ]:
classifier = DecisionTreeClassifier(min_samples_split=3, max_depth=3)
classifier.fit(X_train,Y_train)
classifier.print_tree()

X_7 <= 0.04908 ? 0.31922421375581117
 left:X_20 <= 16.77 ? 0.04541236952596106
  left:X_13 <= 48.29 ? 0.014913306729049149
    left:X_24 <= 0.1768 ? 0.0037266765819362127
        left:B
        right:M
    right:M
  right:X_1 <= 19.46 ? 0.28027681660899645
    left:X_28 <= 0.2527 ? 0.20833333333333334
        left:B
        right:M
    right:M
 right:X_26 <= 0.222 ? 0.0918693175244914
  left:X_0 <= 16.17 ? 0.24489795918367352
    left:B
    right:M
  right:X_23 <= 709.0 ? 0.03375056510445121
    left:X_21 <= 25.4 ? 0.49586776859504145
        left:B
        right:M
    right:X_21 <= 15.98 ? 0.025123070625182854
        left:B
        right:M

In [ ]:
Y_pred = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

0.9385964912280702