#Assignment 3
Name: Sai Ashwin Kumar C

ID : 2019A4PS0628H

In [1]:
import pandas as pd
import math
import numpy as np
import random

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:
%cd /content/gdrive/My Drive/datasets/

/content/gdrive/My Drive/datasets

In [4]:
sheet1 = pd.read_csv('Cars.csv')

In [5]:
cl = sheet1.clazz.unique()

In [6]:
sheet1

     buying  maint  doors persons lug_boot safety  clazz
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

# Task
Design Naive Bayes Classifier from scratch for the given Dataset and find out the accuracy of your model. [10 points]

In [43]:
data1 = sheet1.sample(frac=0.8, random_state=142)
test=sheet1.drop(data1.index)

In [44]:
data1 = data1.sample(frac=1).reset_index(drop=True)

In [45]:
data1

     buying  maint  doors persons lug_boot safety  clazz
0       low    med      2    more      med    med    acc
1       med    low  5more       2      big   high  unacc
2      high  vhigh  5more       4      big   high  unacc
3      high    low      2       4    small   high    acc
4       low   high      2    more    small   high  unacc
...     ...    ...    ...     ...      ...    ...    ...
1377    low    med      3    more      big    med   good
1378    med  vhigh      3       4    small    low  unacc
1379   high    low  5more       2      big   high  unacc
1380  vhigh    low      4       4    small   high    acc
1381  vhigh    low      4       2      med    low  unacc

[1382 rows x 7 columns]

In [46]:
#Prior Probabilities dictionary
def dict_to_pd(coln):
  dic = {}
  for c in cl:
    dic[c] = {}
  m = data1.shape[0]
  for i in range(m):
    for c in cl:
      if c == data1['clazz'][i]:
        if data1[coln][i] in dic[c]:
          dic[c][data1[coln][i]] += 1
        else:
          dic[c][data1[coln][i]] = 1
        #dic[c].append(sheet1[coln][i])
  #dat=pd.DataFrame.from_dict(dic,orient='index').transpose()
  return dic

In [47]:
d = {}
class_prior = {}
for c in cl:
  class_prior[c] = list(data1['clazz']).count(c)
t = sum((class_prior).values())
for c in cl:
  class_prior[c] = class_prior[c]/t
for col in data1.columns:
  if not col == 'clazz':
    d[col] = dict_to_pd(col)
print(class_prior)
print(d)
for col in data1.columns:
  if not col == 'clazz':
    for c in cl:
      tot = sum((d[col][c]).values())
      for k in d[col][c].keys():
        d[col][c][k] = d[col][c][k]/tot
print(d)

{'unacc': 0.6968162083936325, 'acc': 0.23082489146164978, 'vgood': 0.03545586107091172, 'good': 0.03690303907380608}
{'buying': {'unacc': {'med': 219, 'high': 250, 'low': 191, 'vhigh': 303}, 'acc': {'low': 73, 'high': 88, 'vhigh': 63, 'med': 95}, 'vgood': {'med': 23, 'low': 26}, 'good': {'med': 18, 'low': 33}}, 'maint': {'unacc': {'low': 216, 'vhigh': 274, 'high': 256, 'med': 217}, 'acc': {'med': 96, 'low': 81, 'vhigh': 55, 'high': 87}, 'vgood': {'low': 20, 'med': 21, 'high': 8}, 'good': {'low': 33, 'med': 18}}, 'doors': {'unacc': {'5more': 239, '2': 256, '4': 228, '3': 240}, 'acc': {'2': 65, '3': 82, '5more': 86, '4': 86}, 'vgood': {'4': 19, '5more': 14, '3': 10, '2': 6}, 'good': {'3': 14, '5more': 13, '2': 11, '4': 13}}, 'persons': {'unacc': {'2': 450, '4': 253, 'more': 260}, 'acc': {'more': 152, '4': 167}, 'vgood': {'more': 26, '4': 23}, 'good': {'more': 26, '4': 25}}, 'lug_boot': {'unacc': {'big': 293, 'small': 361, 'med': 309}, 'acc': {'med': 113, 'small': 89, 'big': 117}, 'vgood': {'big': 29, 'med': 20}, 'good': {'big': 18, 'med': 20, 'small': 13}}, 'safety': {'unacc': {'high': 225, 'low': 455, 'med': 283}, 'acc': {'med': 160, 'high': 159}, 'vgood': {'high': 49}, 'good': {'med': 30, 'high': 21}}}
{'buying': {'unacc': {'med': 0.22741433021806853, 'high': 0.25960539979231567, 'low': 0.19833852544132918, 'vhigh': 0.3146417445482866}, 'acc': {'low': 0.22884012539184953, 'high': 0.27586206896551724, 'vhigh': 0.1974921630094044, 'med': 0.29780564263322884}, 'vgood': {'med': 0.46938775510204084, 'low': 0.5306122448979592}, 'good': {'med': 0.35294117647058826, 'low': 0.6470588235294118}}, 'maint': {'unacc': {'low': 0.22429906542056074, 'vhigh': 0.284527518172378, 'high': 0.26583592938733125, 'med': 0.22533748701973}, 'acc': {'med': 0.30094043887147337, 'low': 0.25391849529780564, 'vhigh': 0.1724137931034483, 'high': 0.2727272727272727}, 'vgood': {'low': 0.40816326530612246, 'med': 0.42857142857142855, 'high': 0.16326530612244897}, 'good': {'low': 0.6470588235294118, 'med': 0.35294117647058826}}, 'doors': {'unacc': {'5more': 0.2481827622014538, '2': 0.26583592938733125, '4': 0.2367601246105919, '3': 0.24922118380062305}, 'acc': {'2': 0.20376175548589343, '3': 0.25705329153605017, '5more': 0.26959247648902823, '4': 0.26959247648902823}, 'vgood': {'4': 0.3877551020408163, '5more': 0.2857142857142857, '3': 0.20408163265306123, '2': 0.12244897959183673}, 'good': {'3': 0.27450980392156865, '5more': 0.2549019607843137, '2': 0.21568627450980393, '4': 0.2549019607843137}}, 'persons': {'unacc': {'2': 0.4672897196261682, '4': 0.26272066458982346, 'more': 0.2699896157840083}, 'acc': {'more': 0.47648902821316613, '4': 0.5235109717868338}, 'vgood': {'more': 0.5306122448979592, '4': 0.46938775510204084}, 'good': {'more': 0.5098039215686274, '4': 0.49019607843137253}}, 'lug_boot': {'unacc': {'big': 0.304257528556594, 'small': 0.37487019730010385, 'med': 0.32087227414330216}, 'acc': {'med': 0.3542319749216301, 'small': 0.27899686520376177, 'big': 0.3667711598746082}, 'vgood': {'big': 0.5918367346938775, 'med': 0.40816326530612246}, 'good': {'big': 0.35294117647058826, 'med': 0.39215686274509803, 'small': 0.2549019607843137}}, 'safety': {'unacc': {'high': 0.2336448598130841, 'low': 0.4724818276220145, 'med': 0.29387331256490135}, 'acc': {'med': 0.5015673981191222, 'high': 0.49843260188087773}, 'vgood': {'high': 1.0}, 'good': {'med': 0.5882352941176471, 'high': 0.4117647058823529}}}

In [48]:
#naive bayes classifier
test = test.sample(frac=1).reset_index(drop=True)
classify = []
for i in range(test.shape[0]):
  prob = {}
  for c in cl:
    p = class_prior[c]
    for col in test.columns:
      if not col == 'clazz':
        att = test[col][i]
        #print(att)
        try:
          p *= d[col][c][att]
        except:
          p = 0
      prob[c] = p
  #print(prob)
  classify.append(max(prob, key = prob.get))
print(classify)

['unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'good', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'acc', 'vgood', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'good', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'good', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'good', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'vgood', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'vgood', 'vgood', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'acc', 'vgood', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'good', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'vgood', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'vgood', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'acc', 'good', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'good', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'vgood', 'acc', 'unacc', 'unacc', 'unacc', 'good', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'acc']

In [49]:
y_actual = pd.Series(list(test['clazz']), name= 'Actual' )
y_pred = pd.Series(classify, name= 'Predicted' )
confmat = pd.crosstab(y_actual,y_pred)
cla = list(confmat.columns)

In [50]:
confmat

Predicted  acc  good  unacc  vgood
Actual
acc         55     1      9      0
good        12     6      0      0
unacc        4     0    243      0
vgood        5     1      0     10

In [51]:
confmat = np.asarray(confmat)
class_acc = np.zeros(4)
for i in range(4):
  num = confmat[i][i]
  s =0
  for j in range(4):
    s += confmat[i][j]
  class_acc[i]= num/s
acc = np.trace(confmat)/np.sum(confmat)
for c in range(4):
  print( 'Accuracy of class '+ cla[c] +' : ' + str(class_acc[c]*100))
print('Overall Accuracy : ' + str(acc*100))

Accuracy of class acc : 84.61538461538461
Accuracy of class good : 33.33333333333333
Accuracy of class unacc : 98.38056680161942
Accuracy of class vgood : 62.5
Overall Accuracy : 90.7514450867052